*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: aliceblue;
}

body{
    margin: 0;
    background-color: black;
    padding: 0 10% ;

}
header{
    background-image: url('../img/app.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    width: auto;
    height: 109vh;
    display: flex;
    padding: 0 2.35vh;
    box-sizing: border-box;
}
#header-box{
    background: rgba(0, 0, 0, 0.5);
    align-self: center;
    width: 33%;
    height: 22%;
    text-align: center;
    border-radius: 7px;
}
hr.centered {
    margin: 0 20px; /* Khoảng cách từ đầu và cuối trang web */
    border: none;
    border-top: 2px solid gainsboro; /* Tạo một đường gạch */
}
#button-header {
    padding: 0.8vh 14.5vh;
    background-color: #24a849;
    color: white; 
    border: none;
    border-radius: 3px;   
    font-size: 2.2vh;
    font-weight: 400
}
#header-take{

    background: rgb(0, 0, 0);
    align-self: center;
    text-align: center;
    align-items: center;
    border-radius: 3px;
    margin-left: auto; 
    display: flex;
    height: 4.8vh;
    padding: 0 1.5vh;
    

}


 #text1{
    font-size: 2.8vh
 }

 #text2{
    font-size: 2vh;
    font-weight: 350
 }

 #take-option{
    font-weight:490; font-size: 2vh; text-decoration: none;
 }
 
 #text3{
    font-weight:490; font-size: 2vh; text-decoration: none;
 }

 .section-white{
    padding: 0 2.35vh;
    background-color: white;
    display: flex;
}

#buy-img{
    height: 51vh;
    padding: 6vh 0;
    margin-left: 17vh;
}

#text4{
    margin-top: 8vh;
    margin-bottom: 0vh;
    font-size: 7vh; color: black; font-weight: 500; 
}

#text5{
    margin-top: 2.3vh;
    font-size: 5.5vh; color: rgb(85, 169, 85); font-weight: 600;
    margin-bottom: 0;
}

.detail-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    color: #000000;
    
}

.detail-text span:first-child {
    font-size: 2.8vh;
    color: #000000;
}

#download-button{
    border-style: none;
    align-items: center;
    padding-left: 2vh;
}

#download-text{
    color: #000000;
    margin: 1vh 2vh ;
}
.green-android{
    font-size: 2.5vh;
    color: #008e02;
}

.black-apple{
    font-size: 2.5vh;
    color: #000000;
}

.blue-window{
    font-size: 2.5vh;
    color: rgb(10, 172, 221) ;
}

#clarity-img{
    height: 53vh;
    padding: 6vh 0;
    margin-right: 16vh;
}
#text6{
    margin-top: 7vh;
    margin-bottom: 0vh;
    font-size: 7vh; color: black; font-weight: 500; 
}
#text7{
    margin-top: 2.4vh;
    font-size: 5.5vh; color: rgb(209, 4, 4); font-weight: 600;
    margin-bottom: 0;
}

.section-feature{
    background-color: rgb(100, 100, 100);
}
#feature-title{
    margin: 0;
    font-size: 7vh;
    text-align: center;
    padding-top: 8.2vh;
    font-weight: 600;
}

#feature-discription{
    font-size: 2vh;
    color: white;
    text-align: center;
    margin-top: 2vh;
}

#items{
    display: grid;
        grid-template-rows: repeat(3, 1fr); 
        grid-template-columns: repeat(4, 1fr)

}
.section-clarity{
    padding: 0 2.35vh;
    background-color: rgb(233, 233, 233);
    display: flex;
}
.icon{

    padding: 20px;
    text-align: center;

}

.section-pricing{
    background-color: white;
}

#pricing-title{
    margin: 0;
    font-size: 7vh;
    text-align: center;
    padding-top: 8.2vh;
    font-weight: 600;
    color: #000000;
}

#pricing-discription{
    font-size: 2.1vh;
    color: black;
    text-align: center;
    margin-top: 2vh;
}

#price-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1.4vh;
    padding: 1.7vh;
    margin-top: 7vh;
    padding-bottom: 10vh;
}

#price-list strong{
    color: #000 ;
    font-weight: 600;
}

.content{
    border: 0.01vh solid #cbcbcb;
    text-align: center;
    margin: 0;
    color: #000 ;
    padding: 1.8vh;
    font-size: 1.9vh;
}

#basic-title{
    background-color: rgb(96, 96, 96);
    font-size: 2.8vh;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0;
    padding: 3.5vh;
}
#premium-title{
    background-color: rgb(252, 57, 57);
    font-size: 2.8vh;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0;
    padding: 3.5vh;
}
.content-price{
    margin: 0;
    padding: 3.2vh;
    border: 0.01vh solid #cbcbcb;
    color: grey;
    text-align: center;
    font-size: 3.2vh;
}

.content-download{
    background-color: rgb(235, 235, 235);
    text-align: center;
    border: 0.01vh solid #cbcbcb;
    padding: 1vh;
}

.download-button{
    margin: 2vh;
    background-color: black;
    padding: 1.2vh 2.5vh;
    border-style: none;
}

footer{
    text-align: center;
    background-color: rgb(239, 239, 239);
    color: #000;
}

#footer-icon{
    margin: 0;
    padding-top: 5.4vh;
    font-size: 2.5vh;
}

#footer-discription{
    margin: 0;
    color: #000;
    font-size: 1.7vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
}