*{
    margin: 0;
}

.custom-file-label::after {
    background-color: orange; 
    color: white;
    height: 90%;
    margin: 0.2vh;
}

.note{
    font-size: 1.5vh;
    color: rgb(182, 181, 181);
    padding-left: 0.5vh;
}
.form-button{
    align-self: center
}

.form-button{
    background-color: orange;
    font-size: larger;
    border-radius: 0;
    width: 12vh;
    color: white;
}