#container {
    width: 60%;
}

.small-text {
    font-size: 1.7vh;
}

.mini-content {
   
}

.mini-pic {
    height: 12vh;
    width: 12vh;
    margin-right: 3vh;
}

.tiny-title {
    font-size: 2vh;
    font-weight: 700;
}

#content-list hr {
    color: red;
    border-style: dashed;
}
