#container{
    width: 70%;
    margin: auto;
}

#left-div{
    background-color: rgb(84, 218, 84);
    color: aliceblue;
    font-weight: 100;
    font-size: 3.8vh;
    align-items: center;
    justify-content: center;
    
}

.custom-icon{
    margin-top: 0.6vh;
    margin-right: 1vh;
}

.end-btn{
    font-size: 1.8vh;
    font-weight: 500;
    background-color: rgb(0, 163, 163);
    border-style: none;
    color: white;
    padding: 2vh 5vh;
}

.highlight{
    background-color: rgb(0, 182, 182);
    color: aliceblue;
}