#container{
    width: 60%;
    margin: auto;
    padding: 2vh;
}

#title{
    text-align: center;
    font-size: larger;
    font-weight: 800;
}

.table-head{
    text-align: center;
}

.table-head th{
    background-color: rgb(186, 186, 186);
}

#errorMessage{
    color: red;
    text-align: center;
    display: none;
}

.input-border{
    border-color: rgb(0, 198, 0);
}