* {
    margin: 0;
}

.form-box {
    margin: 5% auto;
    width: 30%;
    border: 0.01px solid rgb(187, 187, 187);
    border-radius: 1%;
    padding-bottom: 2.2vh;
}

.form-header {
    padding: 1% 4%;
    background-color: rgb(238, 236, 236);
    margin: 0;
    font-size: 3vh;
    border-bottom: 0.1px solid rgb(187, 187, 187);
}

.form {
    padding: 1% 4%;
    margin: 0;
    font-size: 3vh;
 
}

.text-input {
    margin: 3% 0;
    font-size: 2.5vh;
}

.check-box {
    height: 2vh;
    width: 2vh;
    border: 1.1px solid;
    background-color: rgb(213, 213, 213);
}

.check-label {
    font-size: 2.4vh;
    vertical-align: top;
}

.form-button {
    background-color: rgb(99, 184, 99);
    color: white;
    width: 100%;
    height: 8vh;
    font-size: 3vh;
    border-radius: 1vh;
    border: green;
}

.form-link {
    padding: 0 4%;
    font-size: 2.3vh;
    text-decoration: none;
}

.system-navbar {
    background-color: rgb(248, 249, 250);
    display: flex;
    align-items: center;
    border-bottom: solid rgb(213, 213, 213) 0.1vh;
}

#logo {
    padding: 0 2vh;
    margin-right: auto;
    font-size: 3vh;
}

#userMenu {
    padding: 0 3vh;
}

.user-icon {
    border-bottom: solid 0.1vh rgb(200,200,200);
}

.search-box {
    padding: 2vh 2vh;
}

.search-button {
    margin: 0;
    height: 3.4vh;
    width: 4vh;

}


.search-container {
    display: flex;
    border: 0.1vh solid rgb(200,200,200);
    border-radius: 0.5vh;
    margin: 2.5vh 2vh;

}


.search-icon-container {

    padding: 0.3vh 0.8vh;
}

.search-icon {
    font-size: 2vh;
}

.search-text {
    width: 100%;
}

.content-select {
    border: 0.1vh rgb(200,200,200) solid;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-top: 0.1vh solid #a0a0a0;
}

.content {
    color: rgb(105, 145, 200);
    text-decoration: none;
    padding: 2vh 1vh;
}

.frame {
    margin: 0;
    padding: 0;
}

.side {
    height: 100vh;
    width: 20%;
    background-color: rgb(248, 249, 250);
    box-sizing: border-box;
    border: 0.1vh solid rgb(200,200,200);
}

.content-box {
    padding: 4vh 4vh;
    width: 100%;
}

.big-box {
    display: flex;

}

.content-title {
    font-size: 5vh;
   
}
.form-content-box{
    border: 0.1vh solid rgb(200,200,200);
    border-radius: 1%;
    
    
}

.form-content-header{
    padding: 1vh 2vh;
    background-color: rgb(248, 249, 250);
    margin: 0;
    font-size: 2.2vh;
    border-bottom: 0.1vh solid rgb(200,200,200);

}

.content-form{
    
    padding: 2vh;
}

.input-label{
    font-weight: 500;
}

.input-area{
    width: 75%;
}

.white-button{
    border: 0.1vh rgb(184, 184, 184) solid;
}
.content-table{
    padding: 1% 1%;
    margin: 0;
    font-size: 2vh;

}

.user-button{
    text-decoration: none;
    color: black;
}

#loading{
    margin: 7vh 7vh;
}

#content-loading{
    display: none;
}